/*
Gruvbox theme for Vimium
by botand. This code is in the public domain.
To use:
  1. Copy the code.
  2. Go to the Vimium options.
  3. Click Show Advanced Options.
  4. Under Advanced Options, scroll down to CSS for link hints.
  5. Paste the code in the text field.
  6. Click Save Changes.
  7. Go to the website of your choice (or, if you have it open already, reload it) and check out the results.
*/

/* Link hint boxes */
div > .vimiumHintMarker {
  background: #282828;
  font-size: 12px;
  border: 0.25em solid #282828;
  border-radius: 0.34em;
  color: #fbf1c7;
}

/* Link hint text */
div > .vimiumHintMarker span {
  color: #fbf1c7;
  font-size: inherit;
  text-shadow: none;
}

/* Link hint matching characters */
div > .vimiumHintMarker > .matchingCharacter {
  color: #fe8019;
}

/* HUD ("heads-up display") bar */
div.vimiumHUD {
  background: #282828;
  border: 1px solid #32302f;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background: #282828;
}

div.vimiumHUD .hud-find {
  background: #282828;
  border: none;
  color: #fbf1c7;
}

div.vimiumHUD span#hud-find-input {
  color: #fbf1c7; /* 'Foreground' color */
}

div.vimiumHUD span#hud-match-count {
  color: #fe8019; /* 'Comment' color */
}

div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: #fbf1c7; /* 'Comment' color */
}

#vomnibar {
  background-color: #282828;
}

#vomnibar input {
  color: #fbf1c7;
  font: -moz-window;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size: 20px;
  height: 34px;
  margin-bottom: 0;
  padding: 4px;
  background-color: #282828;
  border-radius: 3px;
  border: 1px solid #282828;
  box-shadow: #b16286 0px 0px 1px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

#vomnibar .vomnibarSearchArea {
  display: block;
  padding: 10px;
  background-color: #282828;
  border-radius: 4px 4px 0 0;
  border-bottom: 0px solid #b16286;
}

#vomnibar ul {
  background-color: #282828;
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-block-start: 2px;
  margin-block-end: 0px;
}

#vomnibar li {
  border-bottom: 1px solid #282828;
  line-height: 1.1em;
  padding: 7px 10px;
  font-size: 16px;
  color: #fbf1c7;
  position: relative;
  display: list-item;
  margin: auto;
}

#vomnibar li .vomnibarBottomHalf {
  font-size: 15px;
  margin-top: 3px;
  padding: 2px 0;
}

#vomnibar li .vomnibarSource {
  color: #b16286;
  margin-right: 4px;
}
#vomnibar li .vomnibarRelevancy {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: #282828;
  color: #fbf1c7;
  font-family: monospace;
  width: 100px;
  overflow: hidden;
}

#vomnibar li .vomnibarUrl {
  white-space: nowrap;
  color: #b8bb26;
}

#vomnibar li .vomnibarMatch {
  font-weight: bold;
  color: #fe8019;
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  color: #fbf1c7;
  margin-left: 4px;
  font-weight: normal;
}
#vomnibar li em {
  font-style: italic;
}
#vomnibar li em .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: #fe8019;
}

#vomnibar li.vomnibarSelected {
  background-color: #3c3836;
  font-weight: normal;
}

#vomnibarInput::selection {
  background-color: #458588;
}
